music_directory       "/var/lib/mpd/music"
playlist_directory    "/var/lib/mpd/playlists"
db_file		      "/var/lib/mpd/tag_cache"
pid_file	      "/var/lib/mpd/pid"
state_file	      "/var/lib/mpd/state"
sticker_file          "/var/lib/mpd/sticker.sql"
bind_to_address       "any"

zeroconf_enabled      "yes"
zeroconf_name	      ""
password              ""
