data/

*.env
*.pass
*.pgpass

**/radicale/users
**/mpd.conf
**/redis.conf
**/invidious.yml

**/authelia/config/authelia.log
**/authelia/config/secrets/
**/authelia/config/users_database.yml

**/nitter/nitter.conf
