data/

DONTCOMMIT/

.venv

*.env
*.pass
*.pgpass
.venv*

**/external-auth-server/*.js

**/radicale/users
**/mpd.conf
**/redis.conf
**/invidious.yml

**/nitter/nitter.conf

# trivy
report.html

result
