version: '3.7'

services:
  huginn:
    # 02-08-2021
    image: huginn/huginn:2ab169a8d03dcc425796093e3d358ea9caf30734
    environment:
      RAILS_ENV: 'production'
      PORT: 3000
      FORCE_SSL: 'true'
      DOMAIN: 'huginn.zah.rocks'
      DOMAINS: 'huginn.zah.rocks'
      HUGINN_DOMAIN: 'huginn.zah.rocks'
      HUGINN_DOMAINS: 'huginn.zah.rocks'
      DATABASE_USERNAME: 'huginn'
      DATABASE_ADAPTER: 'postgresql'
      DATABASE_HOST: 'postgres'
    env_file:
      - "${COMPOSE_ROOT}/services/huginn/secret.env"
    ports:
      - "3000"
    restart: unless-stopped
    depends_on:
      - authelia
      - postgres
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.huginn.rule=Host(`huginn.zah.rocks`)"
      - "traefik.http.routers.huginn.entrypoints=websecure"
      - 'traefik.http.routers.huginn.middlewares=authelia@docker'
      - "traefik.http.routers.huginn.tls.certresolver=myresolver"
