allow-flight=false
allow-nether=true
broadcast-console-to-ops=true
broadcast-rcon-to-ops=true
difficulty=peaceful
enable-command-block=true
enable-jmx-monitoring=false
enable-query=false
enable-rcon=true
enable-status=true
enforce-whitelist=true
entity-broadcast-range-percentage=100
force-gamemode=false
function-permission-level=2
gamemode=creative
generate-structures=true
generator-settings=
hardcore=false
level-name=world-creative
level-seed=thinkpad
level-type=amplified
max-build-height=256
max-players=20
max-tick-time=60000
max-world-size=29999984
motd=Lab Shenanigans - \u00A76Creative
network-compression-threshold=256
online-mode=false
op-permission-level=4
percentRequiredToSleep=20
player-idle-timeout=0
prevent-proxy-connections=false
pvp=false
query.port={{ creative_query_port }}
rate-limit=0
rcon.password={{ creative_rcon_pass }}
rcon.port={{ creative_rcon_port }}
require-resource-pack=false
resource-pack-prompt=
resource-pack-sha1=
resource-pack=
server-ip=
server-port={{ creative_server_port }}
snooper-enabled=true
spawn-animals=true
spawn-monsters=true
spawn-npcs=true
spawn-protection=0
sync-chunk-writes=true
text-filtering-config=
use-native-transport=true
view-distance=16
white-list=true
