# {{ ansible_managed }}
version: "3"

services:
  proxy:
    image: itzg/bungeecord:java17@sha256:f67819eeefd9fe6d4ee5f6f4f3c67c171ba92e27cb22166a4abad3d1874afd4c
    environment:
      PLUGINS: 'https://download.luckperms.net/1521/velocity/LuckPerms-Velocity-5.4.108.jar,https://github.com/WiIIiam278/HuskChat/releases/download/2.7.1/HuskChat-2.7.1.jar'
      JVM_OPTS: '-XX:+UseG1GC -XX:G1HeapRegionSize=4M -XX:+UnlockExperimentalVMOptions -XX:+ParallelRefProcEnabled -XX:+AlwaysPreTouch -XX:MaxInlineLevel=15'
      TYPE: 'VELOCITY'
      ENABLE_RCON: 'yes'
      RCON_PORT: 25566
      RCON_PASSWORD: '{{ mc.rcon.proxy }}'
    ports:
      - '25565:25565'
    volumes:
      - "./data/velocity/config/:/config/"

  survival:
    image: itzg/minecraft-server:2023.11.0-java17-jdk@sha256:a46fb7210965efd3229d187222b8b71eb6912103c866290a902e4e9dc61d7b84
    environment:
      SPAWN_PROTECTION: 4
      ENFORCE_WHITELIST: 'TRUE'
      # TODO: use ops.json template
      #OPS: 'user1,user2'
      OVERRIDE_OPS: 'TRUE'
      ONLINE_MODE: 'false'
      UID: 1010
      GID: 1010
      VERSION: '1.20.2'
      TYPE: 'FABRIC'
      EULA: 'TRUE'
      MEMORY: '8G'
      MODS: '/mods'
      SEED: '2788861436510'
      MODRINTH_ALLOWED_VERSION_TYPE: 'release'
      ENABLE_AUTOPAUSE: 'TRUE'
      DIFFICULTY: 'hard'
      MOTD: 'LC - Survival'
      ENABLE_RCON: 'TRUE'
      # TODO: use ansible template for rcon
      RCON_PASSWORD: '{{ mc.rcon.survival }}'
      MODE: 'survival'
      PVP: 'FALSE'
      LEVEL: 'labchicanery-survival'
      SERVER_NAME: 'LabChicanery-Survival'
      USE_AIKAR_FLAGS: 'FALSE'
      TZ: 'America/New_York'
      MAX_TICK_TIME: '-1'
      ENFORCE_SECURE_PROFILE: 'false' # chat signing off
      DATAPACKS: '/datapacks'
    restart: unless-stopped
    depends_on:
      - proxy
    ports:
      - '8100:8100' # bluemap
      - '25565'
    volumes:
      - './data/survival/data:/data/:rw'
      - './mods/survival/:/mods/:rw'
      - './datapacks/survival/:/datapacks/:rw'

  creative:
    image: itzg/minecraft-server:2023.11.0-java17-jdk@sha256:a46fb7210965efd3229d187222b8b71eb6912103c866290a902e4e9dc61d7b84
    environment:
      SPAWN_PROTECTION: 0
      ONLINE_MODE: 'false'
      UID: 1010
      GID: 1010
      VERSION: '1.20.2'
      TYPE: 'FABRIC'
      EULA: 'TRUE'
      ENABLE_AUTOPAUSE: 'TRUE'
      DIFFICULTY: 'peaceful'
      MOTD: 'LC - Creative'
      ENFORCE_WHITELIST: 'TRUE'
      # TODO: ops.json template
      #OPS: 'user1,user2'
      OVERRIDE_OPS: 'TRUE'
      ENABLE_RCON: 'TRUE'
      RCON_PASSWORD: '{{ mc.rcon.creative }}'
      MODE: 'creative'
      PVP: 'FALSE'
      LEVEL: 'labchicanery-creative'
      SERVER_NAME: 'LabChicanery-Creative'
      USE_AIKAR_FLAGS: 'FALSE'
      MEMORY: '2G'
      TZ: 'America/New_York'
      MAX_TICK_TIME: '-1'
      MODS: '/mods'
      MODRINTH_ALLOWED_VERSION_TYPE: 'release'
      ENFORCE_SECURE_PROFILE: 'false' # chat signing off
      DATAPACKS: '/datapacks'
    restart: unless-stopped
    depends_on:
      - proxy
    ports:
      - '8101:8100' # bluemap
      - '25565'
    volumes:
      - './data/creative/data:/data/:rw'
      - './mods/creative/:/mods/:rw'
      - './datapacks/creative/:/datapacks/:rw'

  postgres:
    hostname: postgres
    image: postgres:14.5-alpine
    ports:
      - "5432"
      - "5433:5432"
    environment:
      PGDATA: '/var/lib/postgresql/data'
    env_file:
      - "./postgres-secret.env"
    volumes:
      - "./data/postgres/data/:/var/lib/postgresql/data/:rw"
    restart: unless-stopped

# vim: set syntax=yaml:
