config-version = "2.5"

bind = "0.0.0.0:25565"
motd = "LabChicaneryMC\u00A7r\n\u00A73Where wild Philips can run free"
online-mode = true

player-info-forwarding-mode = "modern"
forwarding-secret-file = "forwarding.secret"
ping-passthrough = "disabled"

[servers]
survival = "survival:25565"
creative = "creative:25565"

try = [
  "survival"
]

[query]
enabled = false
