[Unit]
Description=Velocity Proxy
After=network.target

[Service]
User=minecraft
Nice=1
SuccessExitStatus=0 1
#ProtectSystem=strict
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory={{ proxy_dir }}
ExecStart=/usr/bin/java/bin/java {{ velocity_java_args }} -jar {{ velocity_jar }} nogui
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
