https://music.zah.rocks {
  reverse_proxy * navidrome:4533 {
    header_up Host {http.reverse_proxy.upstream.hostport}
    header_up X-Forwarded-For {http.request.remote}
    header_up X-Real-IP {http.reverse_proxy.upstream.port}
  }
}

https://huginn.zah.rocks {
  reverse_proxy * huginn:3000 {
    header_up X-Forwarded-Ssl on
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Port {server_port}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Url-Scheme {scheme}
    header_up X-Forwarded-Host {host}
  }
}

https://stats.andrewzah.com, https://stats.benzah.com {
  reverse_proxy * goatcounter:3443 {
    header_up X-Forwarded-Ssl on
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Port {server_port}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Url-Scheme {scheme}
    header_up X-Forwarded-Host {host}
  }
}

# https://github.com/dani-garcia/bitwarden_rs/wiki/Proxy-examples
https://bit.zah.rocks {
  encode gzip

  header {
    X-XSS-Protection "1; mode=block"
    X-Frame-Options "DENY"
    X-Robots-Tag "none"
    -Server
  }

  reverse_proxy /notifications/hub/negotiate bitwarden:80
  reverse_proxy /notifications/hub bitwarden:3012
  reverse_proxy bitwarden:80
}

https://rel.zah.rocks {
  encode gzip

  reverse_proxy * monica:80 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}

https://cal.zah.rocks {
  encode gzip

  reverse_proxy * radicale:5232 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}

https://mattermost.zah.rocks {
  encode gzip

  reverse_proxy * mattermost:8000 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}
