[Unit]
Description=NeptuneMC Survival Server
After=network.target

[Service]
User=minecraft
Nice=1
SuccessExitStatus=0 1
ProtectSystem=strict
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory={{ survival_dir }}
ExecStart=/usr/bin/java/bin/java {{ survival_java_args }} -jar fabric-server-launch.jar nogui
ExecStop=/usr/bin/mcrcon -H 127.0.0.1 -P {{ survival_rcon_port }} -p {{ survival_rcon_pass }} -password stop

[Install]
WantedBy=multi-user.target
