GOATCOUNTER_SMTP={{ goatcounter.smtp }}
GC_DB="postgresql+host=postgres user={{ goatcounter.postgres.username }} password={{ goatcounter.postgres.password }} dbname={{ goatcounter.postgres.database}} sslmode=disable"
