DB_NAME="{{ healthchecks.db.database }}"
DB_PASSWORD="{{ healthchecks.db.password }}"
DB_USER="{{ healthchecks.db.username }}"
DB_PORT="5432"
DB_SSLMODE="disable"
DB_HOST="postgres"
DB="postgres"
DEFAULT_FROM_EMAIL="{{ healthchecks.smtp.from }}"
EMAIL_HOST='{{ smtp_host }}'
EMAIL_HOST_PASSWORD='{{ healthchecks.smtp.password }}'
EMAIL_HOST_USER='{{ smtp_user }}'
EMAIL_PORT='{{ smtp_port }}'
EMAIL_USE_TLS='True'
PROMETHEUS_ENABLED="True"
SECRET_KEY="{{ healthchecks.secret_key }}"
SUPERUSER_EMAIL='{{ healthchecks.superuser_email }}'
SUBSCRIPTION_OPEN='true'
REGENERATE_SETTINGS='true'
PUSHOVER_API_TOKEN='{{ pushover.healthchecks.api_token }}'
PUSHOVER_SUBSCRIPTION_URL='{{ pushover.healthchecks.subscription_url }}'
UWSGI_BUFFER_SIZE=65535
