DB_NAME="healthchecks"
DB_PASSWORD="{{ healthchecks.postgres.password }}"
DB_PORT="5432"
DB_SSLMODE="disable"
DB_USER="healthchecks"
DEFAULT_FROM_EMAIL="Zah Healthchecks <zah@andrewzah.com>"
EMAIL_HOST='{{ smtp_host }}'
EMAIL_HOST_PASSWORD='{{ healthchecks.smtp.password }}'
EMAIL_HOST_USER='{{ smtp_user }}'
EMAIL_PORT='{{ smtp_port }}'
EMAIL_USE_TLS='True'
PROMETHEUS_ENABLED="True"
SECRET_KEY="{{ healthchecks.secret_key }}"
SUPERUSER_EMAIL='{{ healthchecks.superuser_email }}'
SUBSCRIPTION_OPEN='false'
REGENERATE_SETTINGS='true'
PUSHOVER_API_TOKEN='{{ pushover.healthchecks.api_token }}'
PUSHOVER_SUBSCRIPTION_URL='{{ pushover.healthchecks.subscription_url }}'
