EMAIL_HOST_PASSWORD='{{ healthchecks_smtp_password }}'
SUPERUSER_PASSWORD='{{ healthchecks_superuser_password }}'
SECRET_KEY='{{ healthchecks_secret_key }}'
DB='postgres'
DB_HOST='postgres'
DB_USER='healthchecks'
DB_NAME='healthchecks'
DB_PASSWORD='{{ pg_healthchecks_password }}'
DB_PORT='5432'
DB_SSLMODE='disable'
