HBOX_MAILER_HOST={{ homebox.smtp.host }}
HBOX_MAILER_PORT={{ homebox.smtp.port }}
HBOX_MAILER_USERNAME={{ homebox.smtp.username }}
HBOX_MAILER_PASSWORD={{ homebox.smtp.password }}
HBOX_MAILER_FROM="{{ homebox.smtp.from }}"
