DATABASE_HOST=postgres
DATABASE_ADAPTER=postgresql
DATABASE_NAME={{ huginn.db.database }}
DATABASE_USERNAME={{ huginn.db.username }}
DATABASE_PASSWORD={{ huginn.db.password }}
INVITATION_CODE=e08b17ff67e9b7ae44de23303406f3180da6eaa99a5d73deee39da10a81244
#EMAIL_FROM_ADDRESS=
