KEYCLOAK_ADMIN={{ keycloak.admin.email }}
KEYCLOAK_ADMIN_PASSWORD="{{ keycloak.admin.password }}"
KC_DB=postgres
KC_DB_URL_HOST={{ postgres.host }}
KC_DB_URL_PORT={{ postgres.port }}
KC_DB_URL_DATABASE={{ keycloak.db.database }}
KC_DB_USERNAME={{ keycloak.db.username }}
KC_DB_PASSWORD={{ keycloak.db.password }}
KC_DB_URL_PROPERTIES={{ keycloak.db.properties }}
