KEYCLOAK_ADMIN=zah@andrewzah.com
KEYCLOAK_ADMIN_PASSWORD="{{ keycloak25.admin_password }}"
KC_DB=postgres
KC_DB_URL_HOST=postgres
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE={{ keycloak25.postgres.database }}
KC_DB_USERNAME={{ keycloak25.postgres.username }}
KC_DB_PASSWORD="{{ keycloak25.postgres.password }}"
KC_DB_URL_PROPERTIES='?sslmode=disable'
