KEYCLOAK_ADMIN=zah@andrewzah.com
KEYCLOAK_ADMIN_PASSWORD="{{ keycloak_admin_password }}"
KC_DB_URL_HOST=postgres
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD="{{ pg_keycloak_password }}"
KC_DB_URL_PROPERTIES='?sslmode=disable'
