KEYCLOAK_ADMIN={{ keycloak25.admin.email }}
KEYCLOAK_ADMIN_PASSWORD="{{ keycloak25.admin.password }}"
KC_DB=postgres
KC_DB_URL_HOST={{ postgres.host }}
KC_DB_URL_PORT={{ postgres.port }}
KC_DB_URL_DATABASE={{ keycloak25.db.database }}
KC_DB_USERNAME={{ keycloak25.db.username }}
KC_DB_PASSWORD={{ keycloak25.db.password }}
KC_DB_URL_PROPERTIES={{ keycloak25.db.properties }}
