OIDC_NAME=Zah Keycloak
DATABASE_ADAPTER=postgresql
DATABASE_HOST={{ postgres.host }}
DATABASE_PORT={{ postgres.port }}
DATABASE_USER={{ manyfold.db.username }}
DATABASE_PASSWORD={{ manyfold.db.password }}
DATABASE_NAME={{ manyfold.db.database }}
OIDC_CLIENT_ID={{ manyfold.oidc.client_id }}
OIDC_CLIENT_SECRET={{ manyfold.oidc.client_secret }}
OIDC_ISSUER={{ manyfold.oidc.issuer }}
SMTP_SERVER={{ smtp.host }}
SMTP_USERNAME={{ smtp.username }}
SMTP_PASSWORD={{ manyfold.smtp.password }}
SMTP_FROM_ADDRESS={{ manyfold.smtp.from }}
