APP_KEY={{ monicahq.app_key }}
DB_HOST={{ monicahq.db.host }}
DB_USERNAME={{ monicahq.db.username }}
DB_PASSWORD={{ monicahq.db.password }}
MAIL_DRIVER=stmp
MAIL_ENCRYPTION=tls
MAIL_HOST={{ smtp.host }}
MAIL_PORT={{ smtp.port }}
MAIL_USERNAME={{ smtp.username }}
MAIL_PASSWORD={{ monica.smtp.password }}
MAIL_FROM_ADDRESS={{ monica.smtp.from_address }}
MAIL_FROM_NAME={{ monica.smtp.from_name }}
CACHE_DRIVER=redis
SESSION_DRIVER=database
QUEUE_DRIVER=redis
REDIS_HOST={{ redis.host }}
