base-url: "https://ntfy.sh"
upstream-base-url: "https://ntfy.zah.rocks"

cache-file: "/var/cache/ntfy/cache.db" 
behind-proxy: true

auth-file: "/var/lib/ntfy/user.db"
auth-default-access: "deny-all"

smtp-sender-addr: "smtp-relay.sendinblue.com"
smtp-sender-user: "{{ ntfy_smtp_user }}"
smtp-sender-pass: "{{ ntfy_smtp_password }}"
smtp-sender-from: "Andrew Zah - NTFY <ntfy@zah.rocks>"
