LDAP_ORGANISATION=zah.rocks

LDAP_USER="cn={{ ldap_admin_username }},dc=zah,dc=rocks"
LAM_PASSWORD="{{ lam_password }}"
LDAP_ADMIN_USERNAME="{{ ldap_admin_username }}"
LDAP_ADMIN_PASSWORD="{{ ldap_admin_password }}"

LDAP_USERS=''
LDAP_PASSWORDS=''

# MySQL server if database is mysql
#LAM_CONFIGURATION_HOST=
# MySQL port if database is mysql
#LAM_CONFIGURATION_PORT=
# MySQL user name if database is mysql
#LAM_CONFIGURATION_USER=
# MySQL password if database is mysql
#LAM_CONFIGURATION_PASSWORD=
# MySQL database name if database is mysql
#LAM_CONFIGURATION_DATABASE_NAME=
