DATABASE_URL=postgres://rallly:{{ pg_rallly_password }}@postgres:5432/rallly
SECRET_PASSWORD: '{{ rallly_secret_password }}'
SUPPORT_EMAIL: '{{ smtp_rallly_email }}'
SMTP_HOST: '{{ smtp_host }}'
SMTP_PORT: '{{ smtp_port }}'
SMTP_SECURE: 'true'
SMTP_USER: '{{ smtp_user }}'
SMTP_PWD: '{{ smtp_rallly_password }}'
