DATABASE_URL=postgres://{{ rallly.db.username }}:{{ rallly.db.password }}@{{ postgres.host }}:{{ postgres.port }}/{{ rallly.db.database }}
SECRET_PASSWORD={{ rallly.secret_password }}
SUPPORT_EMAIL={{ rallly.smtp.from }}
SMTP_HOST='{{ smtp.host }}'
SMTP_PORT='{{ smtp.port }}'
SMTP_SECURE=true
SMTP_USER={{ smtp.username }}
SMTP_PWD={{ rallly.smtp.password }}
