DB_HOST={{ mariadb.host }}
DB_NAME={{ romm.db.database }}
DB_USER={{ romm.db.username }}
DB_PASSWD={{ romm.db.password }}
IGDB_CLIENT_ID={{ romm.igdb.client_id }}
IGDB_CLIENT_SECRET={{ romm.igdb.client_secret }}
ROMM_AUTH_SECRET_KEY={{ romm.secret_key }}
#MOBYGAMES_API_KEY={{ romm.mobygames_api_key }}
STEAMGRIDDB_API_KEY={{ romm.steamgriddb_api_key }}
