ADMIN_EMAIL={{sheetable.admin_email}}
ADMIN_PASSWORD={{sheetable.admin_password}}
API_TOKEN={{sheetable.api_token}}
DB_PASSWORD={{sheetable.db_password}}
DB_USER={{sheetable.db_username}}
DB_NAME={{sheetable.db_name}}
