output:
  url: "{{ proxy_influx_url }}"
  organization: "{{ proxy_influx_organization }}"
  bucket: "{{ proxy_influx_bucket }}"
  interval: 10
authentication:
  scheme: "TOKEN"
  username: ""
  password: ""
  token: "{{ proxy_influx_token }}"
